<!doctype html>
<html>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"
            integrity="sha512-iZIBSs+gDyTH0ZhUem9eQ1t4DcEn2B9lHxfRMeGQhyNdSUz+rb+5A3ummX6DQTOIs1XK0gOteOg/LPtSo9VJ+w=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
    <script>
        socket = io("/play_game");

        socket.on("message", function (data) {
            data = JSON.parse(data);
            console.log(data);

            switch (data["type"]) {
                case "ping":
                    socket.emit("respond", "pong");
                    break;
            }
        });

        socket.emit("start_game", JSON.stringify({submissions: ["301bddc0225c846752fa3dd4a7972e0fbf19fb020d8a3c07533fdcc4c659854f"]}));
    </script>
</head>
</html>
